# Module 2 - Explore Data

Libraries have pre-defined code for other functions that are not included in basic Python. Once a library has been imported, any of its functions can be used throughout the entire notebook.

In [ ]:
#import libraries
import pandas as pd
import numpy as np

## Load data

### csv files

Stands for "comma separated values"; it is a plain text file where each value is separated by some delimiter (usually commas but can be tabs, semicolons, spaces, etc.)

In [ ]:
#load csv file data with headers

location = "datasets/smallgradesh.csv"
df = pd.read_csv(location)

In [ ]:
df.head()
#df.head?

In [ ]:
df.tail(3)

In [ ]:
#load data without headers

location2 = "datasets/smallgrades.csv"
df_nohead = pd.read_csv(location2, header=None) #try w/o header=None
df_nohead.head()

In [ ]:
#add headers during data load

df_during = pd.read_csv(location2, names=['Name', 'Grade'])
df_during.head()

In [ ]:
#add headers after data load

df_nohead.columns = ['Name', 'Grade']
df_nohead.head()

In [ ]:
#create data

names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = list(zip(names,grades))

In [ ]:
#export csv files

df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
df.to_csv('studentgrades.csv',index=False,header=False)

### Excel files

In [ ]:
#import Excel file

location = "datasets/gradedata.xlsx"
df = pd.read_excel(location) #overwrites the info from the df variable in the examples above
df.head()

In [ ]:
#save dataframe as Excel file

#using GradeList from above
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = list(zip(names,grades))

df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
writer = pd.ExcelWriter('dataframe.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [ ]:
#multiple sheets

df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
writer = pd.ExcelWriter('dataframe.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
df.to_excel(writer, sheet_name='Sheet2')
writer.save()

### Exploratory Analysis

In [ ]:
#load gradedata.csv file

location = "datasets/gradedata.csv"
df = pd.read_csv(location)

df.head()

In [ ]:
#show the column names in the dataset
df.columns
#or print(df.columns)

In [ ]:
#show the data type of each column
df.dtypes

In [ ]:
#number of non-NA values
#len(df) would count rows including NA values
df.count()

In [ ]:
df['hours'].max()

In [ ]:
df['hours'].min()

In [ ]:
df['hours'].sum()

In [ ]:
df['hours'].mean()

In [ ]:
df['hours'].median()

In [ ]:
df['hours'].mode()

In [ ]:
df['hours'].value_counts()

In [ ]:
#standard deviation
df['hours'].std()

In [ ]:
#descriptive statistics
df.describe()

In [ ]:
#doesn't do anything on its own
df.groupby('gender')

In [ ]:
#add a stats or math function to it
df['hours'].groupby(df['gender']).mean()

#mean of multiple columns
#df[['hours', 'exercise']].groupby(df['gender']).mean()

In [ ]:
#use two columns to groupby
df.groupby(['gender', 'age']).mean()

In [ ]:
#pivot table default function is mean
pd.pivot_table(df, index=['gender'])

In [ ]:
pd.pivot_table(df, values=['hours'], index=['gender'])

In [ ]:
#unique values in a column
df['age'].unique()

In [ ]:
#find missing values
filename = "datasets/gradedatamissing.csv"
df_missing = pd.read_csv(filename)

#df.head()

In [ ]:
#total missing values
df_missing.isnull().sum()

In [ ]:
#show rows with missing values
missing = df_missing['exercise'].isnull()
#missing will only show True/False values
df_missing.loc[missing]

## Finding duplicate rows

In [ ]:
names = ['Jessica','John','Bob','Jessica','Mary','John','Mel','Mel']
grades = [95,78,76,95,77,78,99,100]
GradeList = list(zip(names,grades))
df = pd.DataFrame(data = GradeList, columns=['Names', 'Grades'])
df

In [ ]:
#boolean values for if there's another row with the exact values in each column
dupe = df.duplicated()
#duplicate of Jessica, 95; John, 78
#returns false on first instance of duplicate row

In [ ]:
df.loc[dupe]

## Choosing Rows

In [ ]:
colA = [10, 20, 40, 50]
colB = ['no', 'yes', 'yes', 'no']

A_B = list(zip(colA, colB))

df_A = pd.DataFrame(data=A_B, columns=['A', 'B'])
df_A

In [ ]:
index = ['a', 'b', 'c', 'd']
colA = [10, 20, 40, 50]
colB = ['no', 'yes', 'yes', 'no']

df_B = pd.DataFrame(data=A_B, columns=['A', 'B'], index=index)

df_B

In [ ]:
#loc: label based indexing
df_A.loc[0]

In [ ]:
#iloc: select row by index(position) number
df_A.iloc[0]

In [ ]:
#loc: label based indexing
df_B.loc['b']

In [ ]:
df_B.iloc[1]

In [ ]:
#let's see how it gets tricky
df_C = df_A.copy()
df_C

In [ ]:
index = [2,1,0,3]
colA = [10, 20, 40, 50]
colB = ['no', 'yes', 'yes', 'no']

df_D = pd.DataFrame(data=A_B, columns=['A', 'B'], index=index)
df_D

In [ ]:
#works like python slicing; give me index 0 through the index before 3
df_C.iloc[0:3]

In [ ]:
#give me the index label '0' and everything in between and include the label '3'
df_C.loc[0:3]

In [ ]:
#gave index position 0 through the index position before 3
df_D.iloc[0:3]

In [ ]:
#gave the label '0' and all the rows that are in between and ending with the row with label '3'
df_D.loc[0:3]

# Bonus Code!

Below are some code snippets for advanced tasks

## Unzip a folder

In [ ]:
#unzip data
import zipfile

path_to_file = "datasets.zip" #file path of zip file
extract_directory = ""

zip_ref = zipfile.ZipFile(path_to_file, 'r')
zip_ref.extractall(extract_directory)
zip_ref.close()

## SQL

In [ ]:
from sqlalchemy import create_engine

# Connect to sqlite db
db_file = r'datasets/gradedata.db'
engine = create_engine(r"sqlite:///{}".format(db_file))

sql = "SELECT * FROM test;"
sales_data_df = pd.read_sql(sql, engine)
sales_data_df

In [ ]:
#find table names
sql = "SELECT name FROM sqlite_master WHERE type = 'table';"

In [ ]:
#query with conditional
sql = 'SELECT * FROM test WHERE Grades IN (76,77,78)'

## Load multiple data files

In [ ]:
import glob

all_data = pd.DataFrame()
for f in glob.glob("datasets/data*.xlsx"):
    df = pd.read_excel(f)
    all_data = all_data.append(df, ignore_index=True)
    
all_data.count() #each data file had 100 rows

## Create random data

In [ ]:
from numpy import random

names = ['Bob','Jessica','Mary','John','Mel']

random.seed(500)

random_names = [names[random.randint(low=0,high=len(names))] 
 				for i in range(1000)]

births = [random.randint(low=0,high=1000) 
 		  for i in range(1000)]

BabyDataSet = list(zip(random_names,births))
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])

df.head()